        @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Limelight&family=Nosifer&family=Poppins:wght@400;700&family=Potta+One&display=swap');
        body {
            margin: 0%;
            padding: 0%;
            font-family: "Poppins", sans-serif;
        }
        
        .part-nav {
            display: flex;
            align-items: center;
        }
        
        ul {
            display: flex;
            list-style: none;
            gap: 20px;
        }
        
        .part-nav ul {
            gap: 23px;
        }
        
        .part-nav a {
            text-decoration: none;
        }
        
        .material-symbols-outlined {
            display: flex;
        }
        
        .one-Flower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: rgb(132, 121, 121);
        }
        
        section {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        .home-page h4 {
            color: palevioletred;
        }
        
        .home-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-image: url('img/Home-page.jpeg');
        }
        
        .home-page button {
            border-radius: 17px;
            color: white;
            background-color: brown;
            width: 100px;
        }
        
        .home-page h1 {
            color: rgb(90, 90, 160);
        }
        
        .home-pagetwo {
            margin-top: 25px;
            padding: 15px;
        }
        
        .About {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px;
        }
        
        .Produts {
            display: flex;
            justify-content: center;
            gap: 100px;
        }
        
        .Produts-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 12px;
            padding: 30px;
            gap: 123px;
        }
        
        .Produts-part button {
            text-align: center;
            border-radius: 12px;
            background-color: rgb(172, 150, 25);
            color: white;
        }
        
        .Produts-part {
            text-align: center;
        }
        
        .material-icons span {
            color: gold;
            visibility: hidden;
        }
        
        .part-Review {
            text-align: center;
        }
        
        @media(max-width: 600px) {
            .one-Flower {
                flex-direction: column;
            }
            section {
                flex-direction: column;
            }
            .home-page {
                flex-direction: column;
            }
            .home-pagetwo {
                margin-top: 20px;
                padding: 15px;
                text-align: center;
                width: 200px;
            }
            .part-nav {
                flex-direction: column;
            }
            ul {
                flex-direction: column;
            }
            .About {
                flex-direction: column;
            }
        }